div.content {
  /* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
  display: none;
  float: right;
  width: 640px; 
  position: relative;
}
div.content a, div.navigation a {
  text-decoration: none;
  color: #777;
}
div.content a:focus, div.content a:hover, div.content a:active {
  text-decoration: none;
}
div.controls {
  margin-top: 20px;
  padding:5px 15px;
}
div.ss-controls {
  float: left;
}
div.ss-controls a{
  height:17px;
  line-height:17px;
  padding-right:22px;
  display:block;  
}
div.ss-controls a.play{
  background:url("webvanta/themes/master/1.0/images/ss-controls_play.jpg") no-repeat right;
}
div.ss-controls a.pause{
  background:url("webvanta/themes/master/1.0/images/ss-controls_pause.jpg") no-repeat right;
}
div.ss-controls a:hover{
  text-decoration: none;
}
div.nav-controls {
  float: right;
}
div.nav-controls a{
  display:block;
  float:left;
  line-height:16px;
  hieght:16px;
}
div.nav-controls a.prev{
  padding:0px 0px 0px 22px;
  background:url("webvanta/themes/master/1.0/images/nav-controls_prev.jpg") no-repeat left;
  margin-right:14px;
}
div.nav-controls a.next{
  padding:0px 22px 0px 0px;
  background:url("webvanta/themes/master/1.0/images/nav-controls_next.jpg") no-repeat right;
}

div.slideshow-container {
  position: relative;
  clear: both;
  height: 480px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.loader {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('http://twinmaps.webvanta.com/loader.gif');
  background-repeat: no-repeat;
  background-position: center;
  width: 640px;
  height: 480px; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow {

}
div.slideshow span.image-wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
div.slideshow a.advance-link {
  display: block;
  width: 640px;
  height: 480px; /* This should be set to be at least the height of the largest image in the slideshow */
  text-align: center;
}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
  text-decoration: none;
}
div.slideshow img {
  vertical-align: top;
  border: 1px solid #ccc;
}
div.download {
  float: right;
}
div.caption-container {
  position: relative;
  clear: left;
  height: 75px;
}
span.image-caption {
  display: block;
  position: absolute;
  width: 640px;
  top: 0;
  left: 0;
}
div.caption {
  padding: 12px;
  position: relative;
  text-align: center;
}
div.image-title {
  font-weight: bold;
  font-size: 1.4em;
}
div.image-desc {
  line-height: 1.3em;
  padding-top: 12px;
}
ul.thumbs {
  clear: both;
  margin: 5px;
  padding: 0;
}
ul.thumbs li {
  float: left;
  padding: 0;
  margin: 5px 10px 5px 10px;
  list-style: none;
}
a.thumb {
  padding: 2px;
  display: block;
  border: 1px solid #ccc;
}
ul.thumbs li.selected a.thumb {
  background: #000;
}
a.thumb:focus {
  outline: none;
}
ul.thumbs img {
  border: none;
  display: block;
}
div.pagination {
  clear: both;
}
div.navigation div.top {
  margin-bottom: 12px;
  height: 11px;
}
div.navigation div.bottom {
  margin-top: 12px;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
  display: block;
  float: left;
  margin-left: 5px;
  margin-right: 2px;
  padding: 4px 7px 2px 7px;
  border: 1px solid #ccc;
}
div.pagination a:hover {
  background-color: #eee;
  text-decoration: none;
}
div.pagination span.current {
  font-weight: bold;
  background-color: #000;
  border-color: #000;
  color: #fff;
}
div.pagination span.ellipsis {
  border: none;
  padding: 5px 0 3px 2px;
}
#empty_gallery {
  margin-left:40px;
}

